<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .model.DisplayName }} administration</title>
        <link rel="stylesheet" href="{{ assetPath "sample.css" }}">
    </head>
    <body>
        <p><a href="{{ .model.App.Panel.GetFullLink }}">Home</a> > <a href="{{ .model.App.GetFullLink }}">{{ .model.App.DisplayName }}</a> > {{ .model.DisplayName }}</p>
        <h2>Models Sidepanel</h2>
        <ul>
            {{ range .apps }}
                <li><a href="{{ .app.GetFullLink }}">{{ .app.DisplayName }}</a>
                    <ul>
                        {{ range .models }}
                            {{ if .permissions.Read }}
                                <li><a href="{{ .model.GetFullLink }}">{{ .model.DisplayName }}</a>  -- <a href="{{ .model.GetFullLink }}">View</a>{{ if .permissions.Create }} -- Add{{ end }}</li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
        <h2>{{ .Model.DisplayName }} Instances</h2>
        <ul>
            {{  range .instances }}
                <li>
                    {{- $instance := . -}}
                    {{- range $index, $fieldConfig := $.model.Fields -}}
                        {{- if $fieldConfig.IncludeInListDisplay -}}
                            {{ $fieldConfig.DisplayName }}: {{ with $val := getFieldValue $instance $fieldConfig.Name }}{{ $val }}{{ else }}<span>Field not available</span>{{ end }},
                        {{- end -}}
                    {{- end -}}
                </li>
            {{ end }}
        </ul>
    </body>
</html>