<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .admin.Config.Name }}</title>
    <link rel="stylesheet" href="{{ assetPath "sample.css" }}">
</head>
<body>
<h1>{{ .admin.Config.Name }}</h1>
<ul>
    {{ range .apps }}
        <li> {{ .app.DisplayName }}
            <ul>
                {{ range .models }}
                    {{ if .permissions.Read }}
                        <li>{{ .model.DisplayName }}  -- View {{ if .permissions.Update }}-- Update {{ end }}{{ if .permissions.Create }} -- Add{{ end }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        </li>
    {{ end }}
</ul>
</body>
</html>